ion-card{
    font-weight: 700px;
    height: 300px;
    
}
ion-img{
    font-weight: 150px;
    height: 150px;
   margin-right: 75px
}
.icon{
    font-size: 50px; 
    text-align-last: right;
    float: right;
}
